# [Django core]
DEBUG="True"
ALLOWED_HOSTS="*"
SECRET_KEY="django-insecure-123456789"

# [Local network communication]
LOCAL_HOSTS="localhost:8000,192.168.1.100"

# [CORS]
CORS_ALLOW_ALL_ORIGINS="True"
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8000"

# [JWT]
AUTH_COOKIE_SECURE='False'
AUTH_COOKIE_SAMESITE='Lax'
AUTH_COOKIE_DOMAIN='localhost'

# [PostgreSQL 15]
POSTGRES_DB=seiyuu_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# [Elasticsearch]
ES_HOST=https://localhost:9200
ES_CA_CERT=elasticsearch/certs/ca/ca.crt
ES_CLIENT_CERT=elasticsearch/certs/seiyuu-bot-elastic/seiyuu-bot-elastic.crt
ES_CLIENT_KEY=elasticsearch/certs/seiyuu-bot-elastic/seiyuu-bot-elastic.key
ES_PORT=9200
ELASTIC_PASSWORD=your_elastic_password_here